.customRadioButton {
    --radioOuterWidth: 18px;
    --radioInnerWidth: 10px;
    --radioBgColor: #DDDDDD;
    --radioDotColor: #676767;

    --radioOuterWidthMobile: 24px;
    --radioInnerWidthMobile: 12px;
}

.customRadioButton input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.customRadioButton label {
    display: flex;
    align-items: center;
    user-select: none;
    position: relative;
    padding-left: calc(var(--radioOuterWidth) * 1.5);
}

.customRadioButton input+label::before {
    content: '';
    position: absolute;
    left: 0;
    width: var(--radioOuterWidth);
    height: var(--radioOuterWidth);
    background: var(--radioBgColor);
    border-radius: 50%;
}

.customRadioButton input:checked+label::after {
    content: '';
    background-color: var(--radioDotColor);
    position: absolute;
    left: calc(var(--radioOuterWidth)/2 - var(--radioInnerWidth)/2);
    width: var(--radioInnerWidth);
    height: var(--radioInnerWidth);
    border-radius: 50%;
}

@media screen and (max-width: 590px) {
    .customRadioButton label {
        flex-direction: column;
        padding-left: 0;
        padding-top: calc(var(--radioOuterWidthMobile) * 1.5);
        font-size: 12px;
    }

    .customRadioButton input+label::before {
        left: auto;
        top: 0;
        width: var(--radioOuterWidthMobile);
        height: var(--radioOuterWidthMobile);
        background: var(--radioBgColor);
        border-radius: 50%;
    }

    .customRadioButton input:checked+label::after {
        background-color: var(--radioDotColor);
        left: auto;
        top: calc(var(--radioOuterWidthMobile)/2 - var(--radioInnerWidthMobile)/2);
        width: var(--radioInnerWidthMobile);
        height: var(--radioInnerWidthMobile);
    }
}