.experienceCalculator {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 590px;
    padding-bottom: 110px;
    position: relative;
}

.block {
    display: flex;
    flex-direction: column;
}

.blocBattleCount {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.title {
    color: #AEAC7E;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 18px;
}

/* configurations */
.configurations {
    display: flex;
    flex-direction: column;
    color: #ADADAD;
    font-size: 18px;
    margin-bottom: 30px;
}

.configurations_type {
    margin-bottom: 20px;
}

.configurations_type:last-of-type {
    margin-bottom: 0;
}

/* battleCount */
.battleCount {
    display: flex;
    justify-content: space-between;
}

.battleCountSlider {
    width: 345px;
}

.battleCountInput {
    color: rgba(161, 157, 114, 1);
    font-weight: 700;
    font-size: 34px;
    width: 80px;
    padding: 5px 20px;
    text-align: right;
    background-image: url("../img/rangeInputBackground.svg"), linear-gradient(to bottom, rgba(77, 74, 61, 1), rgba(110, 101, 63, 1));
    background-repeat: repeat;
    border: solid 4px #000000;
    border-radius: 8px;
    box-shadow: 0 1px 1px rgba(52, 51, 55, 0.75), inset 0 4px 6px -2px rgba(0, 0, 0, 0.5);
    appearance: textfield;
}

/* experience */
.tankExperience {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 210px;
}

.experienceStar {
    width: 66px;
    height: 66px;
}

.experienceCounter {
    font-size: 56px;
    font-weight: 700;
    line-height: 1;
    color: rgba(248, 170, 49, 1);
}

@media screen and (max-width: 590px) {
    .experienceCalculator {
        flex-direction: column;
        width: 100%;
        padding-bottom: 0;
    }

    .blocBattleCount {
        position: relative;
    }

    .title {
        font-size: 22px;
        text-align: center;
    }

    .configurations {
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    .configurations_type {
        width: 30%;
    }

    .battleCount {
        flex-direction: column;
        align-items: center;
    }

    .battleCountSlider {
        width: 100%;
        margin-bottom: 40px;
    }

    .experienceBorder {
        height: 1px;
        margin: 30px 0 25px;
        background: linear-gradient(to right, rgba(102, 102, 102, 0), rgba(102, 102, 102, 1), rgba(102, 102, 102, 0));
    }

    .experienceStar {
        width: 46px;
        height: 46px;
    }

    .tankExperience {
        width: 145px;
        margin: auto;
    }

    .experienceCounter {
        font-size: 40px;
    }
}
