.tankCard {
    width: 260px;
    height: 252px;
}

.tankImage img {
    max-width: 100%;
    max-height: 100%;
}

.tankName {
    color: #B9B9B9;
    font-weight: 700;
    font-size: 28px;
    text-align: center;
}