:root {
    --tooltipCornerSize: 48px;
    --tooltipBgColor: rgba(42, 42, 42, 0.8);
}

.tooltip {
    width: 672px;
    max-width: calc(100% - 40px);
    border: solid 1px #747474;
    background: var(--tooltipBgColor);
    backdrop-filter: blur(4px);
    z-index: 1;
    display: none;
}

.tooltip::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 45px;
}

.tooltip[data-show] {
    display: block;
}

.cornerWrapper {
    width: var(--tooltipCornerSize);
    height: 45px;
    position: absolute;
    overflow: hidden;
    z-index: 1;
}

.tooltip[data-popper-placement^='bottom']::before {
    top: -45px
}

.tooltip[data-popper-placement^='top']::before {
    bottom: -45px
}

.tooltip[data-popper-placement^='top'] .cornerWrapper {
    bottom: -45px;
}

.tooltip[data-popper-placement^='bottom'] .cornerWrapper {
    top: -45px;
}

.corner {
    width: var(--tooltipCornerSize);
    height: var(--tooltipCornerSize);
    transform: scaleY(1.3);
}

.tooltip[data-popper-placement^='top']  .corner {
    margin-top: -40px;
}

.tooltip[data-popper-placement^='bottom']  .corner {
    margin-top: 34px;
}

/* TODO: make real transparent background */
.corner::after {
    content: "";
    position: absolute;
    z-index: 1;
    border: solid 1px #747474;
    background: #282828;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
}

.content {
    position: relative;
    z-index: 2;
    padding: 30px 40px;
}

@media screen and (max-width: 590px) {
    .tooltip {
        left: 0;
        width: 280px;
    }

    .corner {
        left: calc(50% - var(--tooltipCornerSize) / 2);
    }

    .content {
        padding: 20px 10px;
    }
}